<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        h1 {
            text-align: center;
        }
        
        body {
            text-align: center;
            padding: 50px 35%;
        }
    </style>
</head>

<body>
    <h1>Welcome User</h1>
    <p>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Add Car To List</h5>
                <p class="card-text">Page To Add Car to List</p>
                <a href="/user/form-add" class="btn btn-primary">Add Car</a>
            </div>
        </div>
    </p>
    <p>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Get Car By Id</h5>
                <p class="card-text">Page To Get Car By Id</p>
                <a href="/user/form-get-car-id" class="btn btn-primary">Get Car</a>
            </div>
        </div>
    </p>
    <p>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Get Car By Brand</h5>
                <p class="card-text">Page To Get Car By Brand</p>
                <a href="/user/form-get-car-brand" class="btn btn-primary">Get Car</a>
            </div>
        </div>
    </p>
    <p>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Get Car By Type</h5>
                <p class="card-text">Page To Get Car By Type</p>
                <a href="/user/form-get-car-type" class="btn btn-primary">Get Car</a>
            </div>
        </div>
    </p>
    <p>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Get Car By Color</h5>
                <p class="card-text">Page To Get Car By Color</p>
                <a href="/user/form-get-car-color" class="btn btn-primary">Get Car</a>
            </div>
        </div>
    </p>
    <p>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Get Car By Code</h5>
                <p class="card-text">Page To Get Car By Code</p>
                <a href="/user/form-get-car-code" class="btn btn-primary">Get Car</a>
            </div>
        </div>
    </p>
    <p>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Logout</h5>
                <p class="card-text">Logout As User</p>
                <a href="/logout" class="btn btn-primary">Logout</a>
            </div>
        </div>
    </p>
</body>

</html>