<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Title</title>
    <style>
        body {
            text-align: center;
            padding: 50px 35%;
        }
        
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Welcome Home</h1>
    <p>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">See All Car List</h5>
                <p class="card-text">Page To See All Car That Already Added By User and Admin</p>
                <a href="/showcar" class="btn btn-primary">See Car</a>
            </div>
        </div>
    </p>
    <p>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Login User</h5>
                <p class="card-text">Login As User with Your User Account</p>
                <a href="/user/home" class="btn btn-primary">User</a>
            </div>
        </div>
    </p>
    <p>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Login Admin</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/admin/home" class="btn btn-primary">Admin</a>
            </div>
        </div>
    </p>
</body>

</html>